<% content_for :body_class do %>person-page<% end %>

<% content_for :back_button do %>
    <a class="app-header__back" href="<%= url "/countries" %>"><i class="fa fa-chevron-left"></i></a>
<% end %>

<div class="person-cards">
    <div class="level-complete">
        <h2><%= motivational_quote %></h2>
        <% if @country[:legislatures].size == 1 %>
            <p>You have completed <b><%= @country[:name] %></b>!</p>
            <p>
                <a class="button button--secondary" href="<%= url "/countries" %>">
                    Choose another country
                </a>
            </p>
        <% else %>
            <p>You have completed <b><%= @country[:name] %> <%= @legislature[:name] %></b>!</p>
            <p>
                <a class="button button--secondary" href="<%= url "/countries/#{@country[:slug]}" %>">
                    Choose another legislature
                </a>
            </p>
        <% end %>
    </div>
</div>
