<% content_for :back_button do %>
    <a class="app-header__back" href="/countries"><i class="fa fa-chevron-left fa--space-after"></i>Countries</a>
<% end %>

<h2 class="page-title"><%= @country[:country] %></h2>

<% @country[:legislatures].each do |legislature| %>
    <h3><%= legislature[:name] %></h3>

    <div class="list list--terms">
        <a class="list__item" href="/person">
            <% legislative_period = legislature[:legislative_periods].first %>
            <h3><%= legislative_period[:name] %></h3>
            <p class="term__date"><%= legislative_period[:start_date] %>–<%= legislative_period[:end_date] || 'current' %></p>
            <div class="progress-bar progress-bar--unhealthy"><div style="width: 30%"></div></div>
        </a>
        <p class="terms__encouragement">
        Complete your first term to unlock terms further in the past
        </p>
        <% legislature[:legislative_periods][1..-1].each do |legislative_period| %>
            <div class="list__item list__item--disabled">
                <h3><%= legislative_period[:name] %></h3>
                <p class="term__date"><%= legislative_period[:start_date] %>–<%= legislative_period[:end_date] || 'current' %></p>
                <div class="progress-bar progress-bar--unhealthy"><div style="width: 10%"></div></div>
            </div>
        <% end %>
    </div>

<% end %>
