<% content_for :back_button do %>
    <a class="app-header__back" href="<%= url '/' %>"><i class="fa fa-chevron-left"></i></a>
<% end %>

<h2 class="page-title">Pick a country</h2>

  <% if current_user.votes_dataset.count == 0 %>
    <div style="text-align: center">
      <p>Which country’s politicians would you like to try&nbsp;first?</p>
      <p style="font-style: italic">(Maybe search for your home&nbsp;country…)</p>
    </div>
  <% elsif @featured_country %>
    <h3 class="list-heading">Featured country</h3>
    <p>
    <% if percent_complete(@featured_country) >= 100 %>
      <% if current_user.played_when_featured(@featured_country) %>
        Nice work - you've played the featured country. Check back soon to
        see if there's another chance to win double points.
      <% else %>
        You've already played the featured country. There are plenty
        more countries below, though!
      <% end %>
    <% else %>
      Aww…<%= @featured_country[:name] %> hasn’t been played much yet.
      Give it a whirl? We’ll make it worth your while with <b>double points</b>.
    <% end %>
    </p>
    <div class="list list--countries list--recent">
        <%= erb :country_partial, locals: { country: @featured_country } %>
    </div>
  <% end %>

  <% unless @recent_countries.empty? %>
    <h3 class="list-heading">Your recent countries</h3>
    <div class="list list--countries list--recent">
      <% @recent_countries.each do |country| %>
          <%= erb :country_partial, locals: { country: country } %>
      <% end %>
    </div>
  <% end %>

  <div class="filter-countries">
      <label for="filter">Find a country</label>
      <input type="text" id="filter" data-filter-elements=".list--all .list__item">
  </div>

    <div class="list list--countries">

        <% @countries.each do |country| %>
            <%= erb :country_partial, locals: { country: country } %>
        <% end %>

    </div>


  <p class="help-missing">Your country missing? <a href="/about#missing">Find out why.</a></p>
