<h2 class="page-title">Pick a country</h2>

  <% unless @recent.empty? %>
    <h3 class="list-heading">Your recent countries</h3>
    <div class="list list--countries list--recent">
      <% @recent.each do |country| %>
        <a class="list__item" href="<%= url "/countries/#{country[:slug]}" %>">
          <h3><%= country[:country] %></h3>
          <div class="progress-bar progress-bar--healthy"><div style="width: <%= percent_complete(country) %>%"></div></div>
        </a>
      <% end %>
    </div>
  <% end %>

  <% unless @countries.empty? %>
    <h3 class="list-heading">All countries</h3>
    <div class="list list--countries">
      <% @countries.each do |country| %>
        <a class="list__item" href="<%= url "/countries/#{country[:slug]}" %>">
          <h3><%= country[:country] %></h3>
          <div class="progress-bar progress-bar--healthy"><div style="width: <%= percent_complete(country) %>%"></div></div>
          <%# Other progress-bar types are progress-bar--unhealthy and progress-bar--dangerous %>
        </a>
      <% end %>
    </div>
  <% end %>
