<% if country.complete? %>
<a class="list__item country country--completed<% if country.played_by_user? %>-by-user<% end %>">
<% else %>
<a class="list__item country" href="<%= url "/countries/#{country.slug}" %>">
<% end %>

    <h3 class="country__name"><%= country.name %></h3>

    <% if country.complete? %>
        <% if country.played_by_user? %>
            <em class="country__status">Completed!</em>
        <% else %>
            <em class="country__status">No politicians left to play</em>
        <% end %>
    <% else %>
        <em class="country__status"><%= country.remaining_people %> politician<% if country.remaining_people != 1 %>s<% end %> <% if country.played_by_user? %>left <% end %>to play</em>
    <% end %>

    <div class="country__progress">
        <% if country.has_gender_data? %>
            <p class="country__progress__intro">Known gender balance for <%= country.name %>:</p>
            <div class="progress-bar progress-bar--gendered progress-bar--labelled">
                <div class="progress-bar__males" style="width: <%= country.gender_percentage(:male) %>%">
                    <span class="progress-bar__label"><%= country.total_male %> men</span>
                </div>
                <div class="progress-bar__females" style="width: <%= country.gender_percentage(:female) %>%">
                    <span class="progress-bar__label"><%= country.total_female %> women</span>
                </div>
            </div>
        <% else %>
            <p class="country__progress__intro">We don’t know any gender data for <%= country.name %> yet!</p>
            <div class="progress-bar progress-bar--gendered"></div>
        <% end %>
    </div>
</a>

