<% content_for :back_button do %>
    <a class="app-header__back" href="<%= url '/' %>"><i class="fa fa-chevron-left"></i></a>
<% end %>

<h2 class="page-title">Pick a country</h2>

  <% if not current_user.votes.any? %>
    <div style="text-align: center">
      <p>Which country’s politicians would you like to try&nbsp;first?</p>
      <p style="font-style: italic">(Maybe search for your home&nbsp;country…)</p>
    </div>
  <% elsif @featured_country %>
    <h3 class="list-heading">Featured country</h3>
    <p>
    <% if percent_complete(@featured_country) >= 100 %>
      <% if current_user.played_when_featured(@featured_country) %>
        Nice work - you've played the featured country. Check back soon to
        see if there's another chance to win double points.
      <% else %>
        You've already played the featured country. There are plenty
        more countries below, though!
      <% end %>
    <% else %>
      Aww…<%= @featured_country[:name] %> hasn’t been played much yet.
      Give it a whirl? We’ll make it worth your while with <b>double points</b>.
    <% end %>
    </p>
    <div class="list list--countries list--recent">
      <a class="list__item" href="<%= url "/countries/#{@featured_country[:slug]}" %>">
        <h3><%= @featured_country[:country] %></h3>
        <div class="progress-bar progress-bar--<%= progress_word(percent_complete(@featured_country)) %>"><div style="width: <%= percent_complete(@featured_country) %>%"></div></div>
      </a>
    </div>
  <% end %>

  <% unless @recent_countries.empty? %>
    <h3 class="list-heading">Your recent countries</h3>
    <div class="list list--countries list--recent">
      <% @recent_countries.each do |country| %>
        <% next unless country_counts[country.code] %>
        <a class="list__item" href="<%= url "/countries/#{country.slug}" %>">
          <h3><%= country.name %></h3>
          <div class="progress-bar progress-bar--<%= progress_word(percent_complete(country)) %>"><div style="width: <%= percent_complete(country) %>%"></div></div>
        </a>
      <% end %>
    </div>
  <% end %>

  <div class="filter-countries">
      <label for="filter">Find a country</label>
      <input type="text" id="filter" data-filter-elements=".list--all .list__item">
  </div>

  <% unless @countries.empty? %>
    <h3 class="list-heading">All countries</h3>
    <div class="list list--countries list--all">
      <% @countries.each do |country| %>
        <% next unless country_counts[country.code] %>
        <a class="list__item" href="<%= url "/countries/#{country.slug}" %>">
          <h3><%= country.name %></h3>
          <div class="progress-bar progress-bar--<%= progress_word(percent_complete(country)) %>"><div style="width: <%= percent_complete(country) %>%"></div></div>
        </a>
      <% end %>
    </div>
  <% end %>

  <p class="help-missing">Your country missing? <a href="/about#missing">Find out why.</a></p>
