<% content_for :body_class do %>login<% end %>

<h2 class="page-title">Log in to play</h2>

<p>Logging in only takes 3 seconds — then Gender Balance will remember
your achievements for the next time you play, unlocking new levels as
you progress.</p>

<p>It also helps us to ensure good quality submissions, which is
important because the data produced by Gender Balance will be available
for researchers, journalists and other analysts to use.</p>

<ul class="home-login">
    <li><a class="button button--twitter" href="<%= url '/auth/twitter' %>">Log in with Twitter</a></li>
    <li><a class="button button--facebook" href="<%= url '/auth/facebook' %>">Log in with Facebook</a></li>
    <li><a class="button button--google" href="<%= url '/auth/google_oauth2' %>">Log in with Google</a></li>
    <li><a class="button button--linkedin" href="<%= url '/auth/linkedin' %>">Log in with LinkedIn</a></li>
    <li><a class="button button--github" href="<%= url '/auth/github' %>">Log in with GitHub</a></li>
</ul>

<h3>The Legal Stuff</h3>

<p>The data that you generate by using Gender Balance doesn’t belong to
you. It’ll be placed in the public domain, and free for anyone to use.
That’s pretty cool, actually, because it will be available for teachers,
researchers, journalists, analysts and people who want to do good things
for the world.</p>

<p>Your name/username won’t be attached to the data, but if you’re a
Gender Balance whizz, it may appear on our leaderboard, thus giving you
a pretty unique set of bragging rights.</p>

