<li class="person-card person-card--person"
    data-politician_id="<%= person[:id] %>"
    data-legislative_period_id="<%= @legislative_period.id %>"
    data-google-link="https://google.com/search?q=<%= person[:name] %> <%= @legislative_period.country[:name] %> <%= @legislative_period.legislature[:name] %>"
>
  <% if person[:image] %>
    <img <%= 'data-' unless preload_image %>src="https://everypolitician-image-proxy.herokuapp.com/<%= URI.encode_www_form_component(person[:image]) %>/140/140.jpg" class="person__picture js-person__picture">
  <% else %>
    <img src="/img/person.png" class="person__picture">
  <% end %>
    <h1 class="person__name"><%= person[:name] %></h1>
    <% unless person[:group].downcase == 'unknown' %>
        <p class="person__party"><%= person[:group] %></p>
    <% end %>
    <span class="person__decision person__decision--male js-overlay-male"></span>
    <span class="person__decision person__decision--female js-overlay-female"></span>
    <span class="person__decision person__decision--dontknow js-overlay-dontknow"></span>
</li>
