<li class="person-card person-card--person"
    data-person_uuid="<%== person[:id] %>"
    data-google-link="https://google.com/search?q=<%== person[:name] %> <%= @legislative_period.country.name %> <%= @legislative_period.legislature.name %>"
>
  <% if image_for?(@legislature, person) %>
    <img <%= 'data-' unless preload_image %>src="<%= image_for(@legislature, person) %>" class="person__picture js-person__picture">
  <% else %>
    <img src="/img/person.png" class="person__picture">
  <% end %>
    <h1 class="person__name"><%= person[:name] %></h1>
    <% unless person[:group].downcase == 'unknown' %>
        <p class="person__party"><%= person[:group] %></p>
    <% end %>
    <span class="person__decision person__decision--male js-overlay-male"></span>
    <span class="person__decision person__decision--female js-overlay-female"></span>
    <span class="person__decision person__decision--dontknow js-overlay-dontknow"></span>
</li>
