<% content_for :body_class do %>person-page<% end %>

<% content_for :back_button do %>
    <a class="app-header__back" href="<%= url "/countries/#{@country[:slug]}" %>"><i class="fa fa-chevron-left"></i></a>
<% end %>

<% if @people.any? %>

<div class="progress-bar progress-bar--healthy" data-total="<%= @total %>"><div style="width: <%= percent_complete_term(@country, @legislature, @legislative_period) %>%"></div></div>

<div class="tindr-cards js-jtinder">
    <ul>
        <% @people.take(2).each do |person| %>
            <%= erb :person_partial, locals: { person: person } %>
        <% end %>
    </ul>
</div>

<ul class="js-extra-people" style="display: none">
    <% @people.drop(2).each do |person| %>
        <%= erb :person_partial, locals: { person: person } %>
    <% end %>
</ul>

<div class="controls">
    <a class="controls__other js-person-other" href="#">Other</a>
    <a class="controls__male js-jtinder-dislike" href="#">Male</a>
    <a class="controls__female js-jtinder-like" href="#">Female</a>
    <a class="controls__skip js-person-skip" href="#">Skip</a>
</div>

<% else %>
    <p>All done! There are no more people to classify for <%= @legislature[:name] %> <%= @legislative_period[:name] %></p>
<% end %>
