<% content_for :body_class do %>report-page<% end %>

<% content_for :back_button do %>
    <a class="page-header__back" href="/countries"><i class="fa fa-chevron-left"></i> Countries</a>
<% end %>

<div class="page-section page-section--blue">
    <div class="container">
        <h1 class="page-title"><%= @country[:country] %></h1>

        <p class="report-actions">
            <a href="#" class="button button--small">Play this country!</a>
            <a href="#" class="button button--small">Download data</a>
        </p>

        <div class="report-legislatures">
            <div class="row">
                <div class="col-sm-6">

                    <%# I would just include country_partial here, but it only works with @country objects %>
                    <a class="list__item country" href="#legislature1" data-scroll-to-id>
                        <h3 class="country__name">Galactic Senate</h3>
                        <em class="country__status">Show details</em>
                        <div class="country__progress">
                            <p class="country__progress__intro">Known gender balance for Galactic Senate:</p>
                            <div class="progress-bar progress-bar--gendered progress-bar--labelled">
                                <div class="progress-bar__males" style="width: <%= 801 / 1015.0 * 100 %>%">
                                    <span class="progress-bar__label">801 men</span>
                                </div>
                                <div class="progress-bar__females" style="width: <%= (1015 - 801) / 1015.0 * 100 %>%">
                                    <span class="progress-bar__label"><%= 1015 - 801 %> women</span>
                                </div>
                            </div>
                        </div>
                    </a>

                </div>
                <div class="col-sm-6">

                    <%# I would just include country_partial here, but it only works with @country objects %>
                    <a class="list__item country" href="#legislature2" data-scroll-to-id>
                        <h3 class="country__name">Jedi High Council</h3>
                        <em class="country__status">Show details</em>
                        <div class="country__progress">
                            <p class="country__progress__intro">Known gender balance for Jedi High Council:</p>
                            <div class="progress-bar progress-bar--gendered progress-bar--labelled">
                                <div class="progress-bar__males" style="width: <%= 8 / 12.0 * 100 %>%">
                                    <span class="progress-bar__label">8 men</span>
                                </div>
                                <div class="progress-bar__females" style="width: <%= 4 / 12.0 * 100 %>%">
                                    <span class="progress-bar__label">4 women</span>
                                </div>
                            </div>
                        </div>
                    </a>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="page-section page-section--white" id="legislature1">
    <div class="container">

        <h2 class="page-title">Galactic Senate</h2>

        <div class="row">
            <div class="col-sm-6">
                <h3>Gender balance by term:</h3>
                <div class="report-list report-list--by-term">
                    <%= erb :report_partial, locals: {
                        report: {
                            title: "41st Sitting",
                            total: 1015.0,
                            total_male: 801,
                            total_female: 1015 - 801,
                            action: 'display-by-group'
                        }
                    } %>
                    <%= erb :report_partial, locals: {
                        report: {
                            title: "40th Sitting",
                            total: 1015.0,
                            total_male: 766,
                            total_female: 1015 - 766,
                            action: 'display-by-group'
                        }
                    } %>
                    <%= erb :report_partial, locals: {
                        report: {
                            title: "39th Sitting",
                            total: 1015.0,
                            total_male: 332,
                            total_female: 171,
                            action: 'display-by-group'
                        }
                    } %>
                </div>
            </div>
            <div class="col-sm-6">
                <h3>Gender balance by group:</h3>
                <div class="report-list report-list--by-group">
                    <%= erb :report_partial, locals: {
                        report: {
                            title: "Alliance of Free Planets",
                            total: 812.0,
                            total_male: 461,
                            total_female: 812 - 461,
                            action: 'display-by-term'
                        }
                    } %>
                    <%= erb :report_partial, locals: {
                        report: {
                            title: "Confederacy of Independent Systems",
                            total: 948.0,
                            total_male: 672,
                            total_female: 948 - 672,
                            action: 'display-by-term'
                        }
                    } %>
                    <%= erb :report_partial, locals: {
                        report: {
                            title: "Trade Federation",
                            total: 369.0,
                            total_male: 312,
                            total_female: 369 - 312,
                            action: 'display-by-term'
                        }
                    } %>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="page-section page-section--white" id="legislature2">
    <div class="container">

        <h2 class="page-title">Jedi High Council</h2>

        <div class="row">
            <div class="col-sm-6">
                <h3>Gender balance by term:</h3>
                <div class="report-list report-list--by-term">
                    <%= erb :report_partial, locals: {
                        report: {
                            title: "44–40 BBY",
                            total: 12.0,
                            total_male: 8,
                            total_female: 4
                        }
                    } %>
                </div>
                <div class="report-blank-slate">
                    <p>We don’t yet have any historical data about this legislature.</p>
                    <p>Do you know where we can find the data? <a href="#">Contribute it, via EveryPolitician.</a></p>
                </div>
            </div>
            <div class="col-sm-6">
                <h3>Gender balance by group:</h3>
                <div class="report-blank-slate">
                    <p>We don’t yet have any data about political groups in this legislature.</p>
                    <p>Do you know where we can find the data? <a href="#">Contribute it, via EveryPolitician.</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
