<% content_for :body_class do %>report-page<% end %>

<% content_for :back_button do %>
    <a class="page-header__back" href="/countries"><i class="fa fa-chevron-left"></i> Countries</a>
<% end %>

<div class="page-section page-section--blue">
    <div class="container">

        <% unless params[:nobanner] %>
        <div class="alert alert--info" role="alert">
            <p><b>Under construction</b>: these stats may be incorrect, please do not share or publish until this notice is removed.</p>
        </div>
        <% end %>

        <h1 class="page-title"><%= @country.name %></h1>

        <p>Here's the gender breakdown for this country's politicians.</p>

        <p class="report-actions">
            <% unless country_complete? %>
                <a href="<%= url("/countries/#{@country.slug}") %>" class="button button--small">Play this country!</a>
            <% end %>
            <a href="http://everypolitician.org/<%= @country.slug.downcase %>/download.html" class="button button--small">Download data</a>
        </p>

        <div class="report-legislatures">
            <% @legislatures.each_slice(2) do |legislatures| %>
            <div class="row">
                <% legislatures.each do |legislature| %>
                <div class="col-sm-6">
                    <a class="list__item country" href="#<%= legislature.slug %>" data-scroll-to-id>
                        <h3 class="country__name"><%= legislature.name %></h3>
                        <div class="country__progress">
                            <p class="country__progress__intro">Known gender balance for <%= legislature.name %>:</p>
                            <div class="progress-bar progress-bar--gendered progress-bar--labelled">
                                <div class="progress-bar__males" style="width: <%= legislature.male_percentage %>%">
                                    <span class="progress-bar__label"><%= pluralize(legislature.male.to_i, 'man') %></span>
                                </div>
                                <div class="progress-bar__females" style="width: <%= legislature.female_percentage %>%">
                                    <span class="progress-bar__label"><%= pluralize(legislature.female.to_i, 'woman') %></span>
                                </div>
                            </div>
                        </div>
                    </a>

                </div>
                <% end %>
            </div>
            <% end %>
        </div>
    </div>
</div>

<% @legislatures.each do |legislature| %>
<div class="page-section page-section--white" id="<%= legislature.slug %>">
    <div class="container">

        <h2 class="page-title"><%= legislature.name %></h2>

        <div class="row">

            <div class="col-sm-6">
                <h3>Gender balance by term:</h3>
                <div class="report-list report-list--by-term">
                    <% legislature.legislative_periods.each do |term| %>
                        <%= erb :report_partial, locals: {
                            report: {
                                id: term.slug,
                                title: term.name,
                                total: term.total,
                                total_male: term.male,
                                total_female: term.female,
                                action: 'display-by-group'
                            }
                        } %>
                        <div class="report-list report-list--hidden" id="parties-<%= term.slug %>">
                        <% term.groups.each do |group| %>
                        <%= erb :report_partial, locals: {
                            report: {
                                title: group.name,
                                total: group.total,
                                total_male: group.male,
                                total_female: group.female,
                            }
                        } %>
                        <% end %>
                        </div>
                    <% end %>
                </div>
            </div>

            <div class="col-sm-6">
                <h3>Gender balance by group:</h3>
                <div class="report-list report-list--by-group">
                    <% legislature.groups.each do |group| %>
                    <%= erb :report_partial, locals: {
                        report: {
                            id: group.id_slug,
                            title: group.name,
                            total: group.total,
                            total_male: group.male,
                            total_female: group.female,
                            action: 'display-by-term'
                        }
                    } %>
                    <div class="report-list report-list--hidden" id="terms-<%= group.id_slug %>">
                    <% group.legislative_periods.each do |term| %>
                        <%= erb :report_partial, locals: {
                            report: {
                                title: term.name,
                                total: term.total,
                                total_male: term.male,
                                total_female: term.female,
                            }
                        } %>
                    <% end %>
                    </div>
                    <% end %>
                </div>
            </div>

        </div>
    </div>
</div>
<% end %>
