<div class="report <% if report[:headline] %>report--headline<% end %>">

    <h3 class="report__title"><%= report[:title] %></h3>

  <% if report[:action] == 'display-by-group' %>
    <a class="report__action" data-display-by-group>Display by group</a>
  <% elsif report[:action] == 'display-by-term' %>
    <a class="report__action" data-display-by-term>Display by term</a>
  <% elsif report[:scrollToId] %>
    <a class="report__action" data-scroll-to-id="<%= report[:scrollToId] %>">Show detail</a>
  <% end %>

    <div class="progress-bar progress-bar--gendered progress-bar--labelled">
        <div class="progress-bar__males" style="width: <%= report[:total_male] / report[:total] * 100 %>%">
            <span class="progress-bar__label"><%= report[:total_male] %> men</span>
        </div>
      <% if (report[:total_male] + report[:total_female] != report[:total]) %>
        <div class="progress-bar__empty" style="width: <%= (report[:total] - report[:total_male] - report[:total_female]) / report[:total] * 100 %>%">
        </div>
      <% end %>
        <div class="progress-bar__females" style="width: <%= report[:total_female] / report[:total] * 100 %>%">
            <span class="progress-bar__label"><%= report[:total_female] %> women</span>
        </div>
    </div>

</div>

