<% content_for :body_class do %>report-page<% end %>

<% content_for :back_button do %>
    <a class="page-header__back" href="/countries"><i class="fa fa-chevron-left"></i> Countries</a>
<% end %>

<div class="page-section page-section--blue">
    <div class="container">
        <h1 class="page-title"><%= @country[:country] %></h1>

        <p class="report-actions">
            <a href="#" class="button button--small">Play this country!</a>
            <a href="#" class="button button--small">Download data</a>
        </p>

        <div class="report-legislatures">
            <% @country.legislatures.each_with_index do |legislature, i|
               stats = @legislature_stats[legislature.slug][:totals]
               total = stats[:overall][:total].to_f
               male = stats[:overall][:male].to_f
               female = stats[:overall][:female].to_f
               total = male + female
            %>
            <% if i % 2 == 0 %>
            <div class="row">
            <% end %>
                <div class="col-sm-6">

                    <a class="list__item country" href="#<%= legislature.slug %>" data-scroll-to-id>
                        <h3 class="country__name"><%= legislature.name %></h3>
                        <em class="country__status">Show details</em>
                        <div class="country__progress">
                            <p class="country__progress__intro">Known gender balance for <%= legislature.name %>:</p>
                            <div class="progress-bar progress-bar--gendered progress-bar--labelled">
                                <div class="progress-bar__males" style="width: <%= male / total * 100 %>%">
                                    <span class="progress-bar__label"><%= male.to_i %> <%= male.to_i == 1 ? 'man' : 'men' %></span>
                                </div>
                                <div class="progress-bar__females" style="width: <%= female / total * 100 %>%">
                                    <span class="progress-bar__label"><%= female.to_i %> <%= female.to_i == 1 ? 'woman' : 'women' %></span>
                                </div>
                            </div>
                        </div>
                    </a>

                </div>
            <% if i % 2 != 0 %>
            </div>
            <% end %>
            <% end %>
        </div>
    </div>
</div>

<% @country.legislatures.each do |legislature| %>
<div class="page-section page-section--white" id="<%= legislature.slug %>">
    <div class="container">

        <h2 class="page-title"><%= legislature.name %></h2>

        <div class="row">
            <div class="col-sm-6">
                <h3>Gender balance by term:</h3>
                <div class="report-list report-list--by-term">
                    <% legislature.legislative_periods.each do |term| %>
                        <% term_slug = 'term/' + term.slug
                        term_stats = @legislature_stats[legislature.slug][:terms][term_slug.to_sym] %>
                        <%= erb :report_partial, locals: {
                            report: {
                                title: term.name,
                                total: term_stats[:overall][:total].to_f,
                                total_male: term_stats[:overall][:male].to_f,
                                total_female: term_stats[:overall][:female].to_f,
                                action: 'display-by-group'
                            }
                        } %>
                    <% end %>
                </div>
            </div>
            <div class="col-sm-6">
                <h3>Gender balance by group:</h3>
                <% stats = @legislature_stats[legislature.slug][:totals] %>
                <div class="report-list report-list--by-group">
                    <% stats[:parties].each do |slug, data| %>
                    <%= erb :report_partial, locals: {
                        report: {
                            title: data[:name],
                            total: data[:total].to_f,
                            total_male: data[:male].to_f,
                            total_female: data[:female].to_f,
                            action: 'display-by-term'
                        }
                    } %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>
<% end %>
