<% content_for :body_class do %>person-page<% end %>

<% content_for :back_button do %>
    <a class="app-header__back" href="<%= url "/countries" %>"><i class="fa fa-chevron-left"></i></a>
<% end %>

<% if @people.any? %>

<div class="progress-bar progress-bar--healthy" data-total="<%= @people.size %>"><div style="width: <%= percent_complete_term(@legislative_period) %>%"></div></div>

<div class="tindr-cards js-jtinder">
    <ul>
        <% @people.take(2).each do |person| %>
            <%= erb :person_partial, locals: { person: person } %>
        <% end %>
    </ul>
    <div class="level-complete">
        <h2><%= ['Well done!', 'High fives!', 'Awesome!', 'Nice work!' ].sample %></h2>
        <p>That didn’t take you long. How about another game?</p>
        <p><a class="button button--secondary" href="<%= url "/countries/#{@legislative_period.country[:slug]}" %>">Pick another term</a></p>
    </div>
</div>

<ul class="js-extra-people" style="display: none">
    <% @people.drop(2).each do |person| %>
        <%= erb :person_partial, locals: { person: person } %>
    <% end %>
</ul>

<div class="controls">
    <span class="controls__google">Not sure? <a class="js-google-link" href="#" target="_blank"><i class="fa fa-search"></i>Google them!</a></span>
    <a class="controls__male js-jtinder-dislike" href="#">Male</a>
    <a class="controls__female js-jtinder-like" href="#">Female</a>
    <a class="controls__skip js-person-skip" href="#">Don’t know</a>
    <a class="controls__other js-person-other" href="#">Other</a>
</div>

<% else %>
    <p>All done! There are no more people to classify for <%= @legislative_period.legislature[:name] %> <%= @legislative_period[:name] %></p>
<% end %>
