<% content_for :body_class do %>person-page<% end %>

<% content_for :back_button do %>
    <a class="app-header__back" href="<%= url "/countries" %>"><i class="fa fa-chevron-left"></i></a>
<% end %>

<% content_for :undo_button do %>
    <div class="app-header__undo button button--disabled js-undo">
        Undo
    </div>
<% end %>

<% if @people.any? %>

<script>
window.totals = {
  male: <%= @male_total %>,
  female: <%= @female_total %>,
  other: <%= @other_total %>
};
</script>

<div class="progress-bar progress-bar--gendered" data-total="<%= @legislative_period.csv.map(&:to_hash).uniq { |p| p[:id] }.size %>"></div>

<div class="person-cards">
    <ul class="js-cardswipe">
        <% @people.take(2).each do |person| %>
            <%= erb :person_partial, locals: { person: person, preload_image: true } %>
        <% end %>
    </ul>
    <div class="level-complete level-complete--hidden">
        <div class="trophy">
            <img src="/img/winners-trophy.png" width="180" height="240" alt="">
            <div class="trophy__flash"></div>
        </div>
        <h2><%= motivational_quote %></h2>

      <% if previous_legislative_period(@legislative_period) %>
        <% previous_count = previous_legislative_periods(@legislative_period).size %>
        <p>
            You have completed <b><%= @legislative_period.name %></b>.
            There <%= previous_count == 1 ? 'is' : 'are' %>
            <%= previous_count %> more level<%= previous_count == 1 ? '' : 's' %> to play.
        </p>
        <p>
            <a class="button button--secondary" href="<%= url "/countries/#{@legislative_period.country.slug}/legislatures/#{@legislative_period.legislature.slug}" %>">
                Play the next level!
            </a>
        </p>

      <% elsif @legislative_period.country.legislatures.size == 1 %>
        <p>You have completed <%= @legislative_period.country.name %>.</p>
        <p>
            <a class="button button--secondary" href="<%= url "/countries" %>">
                Choose another country
            </a>
        </p>

      <% else %>
        <p>You have completed <%= @legislative_period.country.name %> <%= @legislative_period.legislature.name %>.</p>
        <p>
            <a class="button button--secondary" href="<%= url "/countries/#{@legislative_period.country.slug}" %>">
                Choose another legislature
            </a>
        </p>
      <% end %>
    </div>
</div>

<ul class="js-extra-cards" style="display: none">
    <% @people.drop(2).each do |person| %>
        <%= erb :person_partial, locals: { person: person, preload_image: false } %>
    <% end %>
</ul>

<ul class="js-done-stack" style="display: none"></ul>

<div class="controls js-controls">
    <div class="controls__skip js-choose-dontknow">
        Don’t know
        <div class="js-click-animation"></div>
    </div>
    <div class="controls__male js-choose-male">
        Man
        <div class="js-click-animation"></div>
    </div>
    <div class="controls__female js-choose-female">
        Woman
        <div class="js-click-animation"></div>
    </div>
    <div class="controls__other js-choose-other">
        Other
        <div class="js-click-animation"></div>
    </div>
    <span class="controls__google">Not sure? <a class="js-google-link" href="#" target="_blank"><i class="fa fa-search"></i>Google them!</a></span>
</div>

<% else %>
  <h2>Nothing to do!</h2>
  <p><%= @legislative_period.country.name %> already publishes gender information for its legislators — but why not <a href="/countries">pick another country</a>?</p>
<% end %>
