<% if current_user %>
  <p>Logged in as <%= current_user.name %></p>
  <p><a href="<%= url '/logout' %>">Log out</a></p>
<% else %>
  <a href="<%= url '/auth/twitter' %>">Log in with Twitter</a>
  <a href="<%= url '/auth/facebook' %>">Log in with Facebook</a>
  <a href="<%= url '/auth/github' %>">Log in with GitHub</a>
  <a href="<%= url '/auth/google_oauth2' %>">Log in with Google</a>
  <a href="<%= url '/auth/linkedin' %>">Log in with LinkedIn</a>
<% end %>
